<!DOCTYPE html>
<html>
    <head>
    {% block head %}
        <meta charset="UTF-8" />
        <title>Gallery - {% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% endblock %}
    </head>
    <body>
        <header id="banner">
            <h1>Gallery</h1>
            <div id="login">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
            </div>
        </header>
        <section id="content">{% block content %}{% endblock %}</section>
        <footer id="footer">
        {% block footer %}
            &copy; Copyright 2013 by Gytis Lakavičius.
        {% endblock %}
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>