{% extends "::base.html.twig" %}

{% block title %}Photo form{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="route">
        <a href="{{ path('nfqakademija_gallery_homepage') }}">Home</a> &raquo; <a href="#">Photo form</a><br/>
        Hint: Multiple albums can be selected.
    </div>

    {{ form_start(photo_form) }}

        {{ form_row(photo_form.name) }}
        {{ form_row(photo_form.shortDescription) }}
        {{ form_row(photo_form.photoDate) }}
        {{ form_row(photo_form.tags) }}
        <div class="record_actions">
            <a href="#" class="jslink">
                Add a tag
            </a>
        </div>
        {{ form_row(photo_form.album) }}
        {{ form_row(photo_form.photo) }}

    {{ form_end(photo_form) }}

{% endblock %}