{% extends "::base.html.twig" %}

{% block title %}Photos in {{ album.name }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    <div class="section hero">
        <div class="w-container">
            {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <h1 class="hero-heading">Create beautiful online photo albums.</h1>
                <p class="hero-subhead">Show off your photos in the best light. &nbsp;Just upload and we’ll do the rest.</p>
                <div class="button-group">
                    <a class="button sign-up" href="{{ path('fos_user_registration_register') }}">Sign up for free</a>
                </div>
            {% else %}
                <h1 class="hero-heading">{{ album.name }}</h1>
                <p class="section-subtitle">{{ album.created|date("Y-m-d") }} | {{ album.userId.username }} | {{ album.place }}</p>
                <p class="hero-subhead">{{ album.fullDescription }}</p>
                <div class="button-group">
                    <a class="button sign-up" href="{{ path('ktu_photo_form') }}">Add photo</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="w-container">
        {% if photos is not empty %}
            {% for row in photos|batch(4) %}
                <div class="w-row">
                    {% for photo in row %}
                        <div class="w-col w-col-3 w-col-small-6">
                            <a class="popup link" href="{{ path('ktu_gallery_photo', {id: photo.id}) }}">
                                <img alt="{{ photo.name }}" src="{{ vich_uploader_asset(photo, 'photo') | apply_filter('list_thumb') }}" />
                                <h3>{{ photo.name }}</h3>
                            </a>
                            <p>{{ photo.shortDescription }}</p>

                            {% if (is_granted("ROLE_ADMIN") or app.user == album.userId) %}
                                <p>
                                    <a class="delete link" href="{{ path('ktu_photo_delete', {id: photo.id}) }}">Remove</a> |
                                    <a class="link" href="{{ path('ktu_photo_form', {id: photo.id}) }}">Edit</a>
                                </p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <h2 class="section-title">No photos</h2>
            <p class="section-subtitle">There are currently no photos in this album
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <br/>Hint: To create a photo in this album press "New photo" in the menu above and select {{ album.name }}.
                {% endif %}
            </p>
        {% endif %}
    </div>

{% endblock %}