{% extends "::base.html.twig" %}

{% block title %}Search results{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="w-container">
        {% if tag is not empty %}
            {% for row in tag.photos|batch(4) %}
                <div class="w-row">
                    {% for photo in row %}
                        <div class="w-col w-col-3 w-col-small-6">
                            <a class="popup link" href="{{ path('ktu_gallery_photo', {id: photo.id}) }}">
                                <img alt="{{ photo.name }}" src="{{ vich_uploader_asset(photo, 'photo') | apply_filter('list_thumb') }}" />
                                <h3>{{ photo.name }}</h3>
                            </a>
                            <p>{{ photo.shortDescription }}</p>

                            {% if (is_granted("ROLE_ADMIN") or app.user == photo.userId) %}
                                <p>
                                    <a class="delete link" href="{{ path('ktu_photo_delete', {id: photo.id}) }}">Remove</a> |
                                    <a class="link" href="{{ path('ktu_photo_form', {id: photo.id}) }}">Edit</a>
                                </p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <h2 class="section-title">No photos</h2>
            <p class="section-subtitle">No photos were found by this tag name.
            </p>
        {% endif %}
    </div>

{% endblock %}
