{% extends "::base.html.twig" %}

{% block title %}Albums{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

    {% for album in albums %}
        <div class="item">
            <h2>{{ album.name }}</h2>
            <span class="date">{{ album.created|date("Y-m-d H:i:s") }}</span>
            <p>
                Created by: {{ album.userId.username }}<br/>
                {{ album.shortDescription }}<br/>
                {{ album.place }}<br/>
            </p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
    {% endfor %}

{% endblock %}