{% extends "::base.html.twig" %}

{% block title %}Albums{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="row">
    {% for album in albums %}
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>{{ album.name }}</h2>
            <span class="date">{{ album.created|date("Y-m-d H:i:s") }}</span>
            <p>
                Created by: {{ album.userId.username }}<br/>
                {{ album.shortDescription }}<br/>
                {{ album.place }}<br/>
            </p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    {% endfor %}
    </div><!-- /.row -->

{% endblock %}